@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: red;
    --color1: #243E36;
    --color2:#C2A83E;
    --color3:#7CA982;
   
}

.beyond{
    color: var(--color1);
}
.main1{
    color: var(--color);
}
